@import "~bootstrap/scss/bootstrap";

body, .row, .container-fluid {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../dist/images/bg.jpg");
  font-family: 'Saira Stencil One', cursive;
  font-size: 20px;
}

.logo {
  font-size: 50px;
  font-family: 'Lacquer', sans-serif;
  margin-left: -20px;
  text-align: center;
}
.nav1 {
  margin-top: 30px;
  padding-left: 20px;
}
.form1 {
  margin-top: 100px;
}
img {
  padding-left: 20px;
  margin-top: 20px;
}